#map {
  background-image:url(images/map.gif);
  width:1000px;
  height:1000px;
}
#treasure {
  background-image:url(images/treasure.gif);
  width:500px;
  height:500px;
  position:relative;
}

ul {
  background:#fff;
  width:200px;
  padding:10px;
  position:fixed;
  top:0;
  right:0;
}

#px300 {
  position:absolute;
  right: 30px;
  bottom: 50px;
  z-index: 1;
}

#px200 {
  position:absolute;
  z-index: 2;
  right: 80px;
  bottom: 90px;
}

#px100 {
  position:fixed;
  z-index: 3;
  right: 150px;
  bottom: 150px;
}